.column-display {
	display: flex;
	margin: 0 2em;
}

.column-tables,
.column-header-data {
	/* border: 1px solid; */
	box-shadow: 5px 10px 10px 10px rgb(214, 214, 214);
	overflow: scroll;
}

.column-tables {
	height: 15em;
}

.column-header-data {
	height: 14em;
}

.column-header-data {
	border: 1px solid;
	padding: 0 1em 1em;
	/* width: 35em; */
}

.column-header-data > p {
	margin: 0;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey; */
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #888;
}
