.data {
	overflow: scroll;
	opacity: 0;
	transition: 0.5s ease;
}

.data.show {
	opacity: 1;
	margin: 2em 3em;
}

.data > table {
	width: 100%;
	border-collapse: collapse;
}

.data > table > thead > th,
.data > table > tbody td {
	border: 1px solid;
	width: 5em;
	height: 1em;
	overflow: hidden;
}
