.input-field {
	background-color: rgb(230, 230, 230);
	margin: 3em;
	padding: 1em 1em 0 1em;
	display: flex;
	gap: 1rem;
}

.input-field > p {
	width: fit-content;
	margin-top: 0;
}

.input-field > textarea {
	height: 2vh;
	width: 50vw;
	word-wrap: break-word;
	resize: none;
}

.input-field > input {
	color: rgba(0, 0, 0, 0);
}
