.column-tables {
	margin: 0 1em;
	/* padding: 0; */
}

table {
	/* width: 100%; */
	border-collapse: collapse;
	padding: 0;
}

th {
	border: 1px solid;
	text-align: center;
}

td {
	border: 1px solid;
}

th:nth-child(1) {
	width: 15em;
}

th:nth-child(2) {
	width: 10em;
}

th:nth-child(3) {
	width: 10em;
}

td:nth-child(1) {
	padding-left: 0.5em;
}

td:nth-child(2),
td:nth-child(3) {
	text-align: center;
}

.highlight {
	background-color: rgb(255, 255, 0);
}
